body {
    background: #b4e2d4;
    font: normal 15pt Arial;

}

header {
    color: whitesmoke;
    text-align: center;
}

img {
    align-self: center;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin: auto;

}

div {
    text-align: center;
    padding: 8px;
}

section {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    
}

footer {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}